
@{
    ViewBag.Title = "Index";
}

<h3>In fase di sviluppo...</h3>
<img class="rounded-circle" src="~/Images/infasedisviluppo.png" height="400" translate="yes" id="immagine" />

<style>
    #immagine {
        transform: translate(40%)
    }
</style>

