@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";  }
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



<style>
    chartContainer01 {
        height: 300px;
        width: 100%;
    }

    chartContainer02 {
        height: 300px;
        width: 100%;
    }
</style>


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Portale Di Geocodifica</title>
</head>
<body>
    <div class="jumbotron">
        <img width="400" height="200" src="/Images/geocoding_02.png">
        <br/>
        <h1>GeoCode</h1>
        <br />
        <p class="lead">Portale per la georeferenzazione</p>
            
        <a class="btn-group-lg" href="/Home/About"><strong>Informazioni</strong></a>
    </div>

  
</body>
</html>
